
{% load static %}
<div class="modal fade" id="create_post_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="create_post_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="create_post_label">Create Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row g-3 align-items-center mb-2">
                <div class="col-2">
                  <label for="input_post_title" class="col-form-label">Title</label>
                </div>
                <div class="col">
                  <input type="text" id="input_post_title" class="form-control">
                </div>
              </div>
            <div class="row g-3 align-items-center mb-2">
                <div class="col-2">
                  <label for="input_post_text" class="col-form-label">Content</label>
                </div>
                <div class="col">
                  <input type="text" id="input_post_text" class="form-control">
                </div>
            </div>
            <div class="row g-3 align-items-center mb-2">
                <div class="col-2">
                    <label for="input_post_images" class="col-form-label">Images max(4)</label>
                  </div>
                  <div class="col">
                    <input type="file" id="input_post_images" class="form-control" accept="image/*"  multiple>
                  </div>
            </div>
            <div class="row images_display">
                
            </div>
            <div class="form-check form-check-inline mb-3">
                <input class="form-check-input" type="radio" name="post_type" id="book_selling" value="book_selling">
                <label class="form-check-label" for="book_selling">Book selling</label>
            </div>
            <div class="form-check form-check-inline mb-3">
                <input class="form-check-input" type="radio" name="post_type" id="dispense_selling" value="dispense_selling">
                <label class="form-check-label" for="dispense_selling">Dispense selling</label>
            </div>
            <div class="form-check form-check-inline mb-3">
                <input class="form-check-input" type="radio" name="post_type" id="no_radio" value="no_radio" checked>
                <label class="form-check-label" for="no_radio">None</label>
            </div>
            <div class="insert_book_div d-none">
                <b>Book Selling</b>
                <div class="book_information">
                </div>
                <div>
                  <button type="button" class="add_input_book_button btn btn-outline-dark">Add Book</button>
                  (Optional: for better search)
                </div>
            </div>
            <div class="insert_dispense_div d-none">
                <b>Dispense Selling</b>
                <div class="dispense_information">
                    
                </div>
                <div>
                  <button type="button" class="add_input_dispense_button btn btn-outline-dark">Add Dispense</button>
                </div>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary create_post">Post</button>
        </div>
      </div>
    </div>
  </div>