{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/exchange.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section id="exchange_section">
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Exchange</h3>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="book_filter">
                <label class="form-check-label" for="book_filter">
                  Book selling
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="dispense_filter">
                <label class="form-check-label" for="dispense_filter">
                  Dispense selling
                </label>
              </div>
            <div class="button_div d-flex justify-content-center">
                <button id="reset_filter" type="button" class="btn btn-outline-dark">Reset</button>

                <button id="apply_filter" type="button" class="btn btn-outline-dark">Apply filter</button>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="">
            <div id="post_row" class="" >
            
                <div class="post ">
                    <div class="post_content">
                        <img class="avatar_img" src="{% static 'assets/svg/pdf.svg' %}" alt="">
                        <div>
                            <h5>Sudoku fjalk fajsklf </h5>
                            <p>
                                fjajfkadls;fj fjadsklf; jajdklf ajksldf f afjkalsjfklasddslk;f jaklsf ajkldfs saklfd jlkds fkl;asd
                                fjajfkadls;fj fjadsklf; jajdklf ajksldf f afjkalsjfklasddslk;f jaklsf ajkldfs saklfd jlkds fkl;asd
                                fjajfkadls;fj fjadsklf; jajdklf ajksldf f afjkalsjfklasddslk;f jaklsf ajkldfs saklfd jlkds fkl;asd
                                fjajfkadls;fj fjadsklf; jajdklf ajksldf f afjkalsjfklasddslk;f jaklsf ajkldfs saklfd jlkds fkl;asd
                            </p>
                            
                        </div>
                    </div>
                    <div style="display:inline-flex">

                        <div class="book_div">
                            Author: <span class="ms-2">luigi</span><br>
                            ISBN: <br>
                            Price:
    
                        </div>
                        <div class="book_div">
                            Author: <span class="ms-2">luigi</span><br>
                            ISBN: <br>
                            Price:
    
                        </div>
                    </div>
                    <div style="display:inline-flex">

                        <div class="dispense_div">
                            Price: 12 
                            <br>
                            <img src="{% static 'assets/svg/pdf.svg' %}" data-pdf_id= "" class="pdf_svg fload-center" >
    
                        </div>
                        
                    </div>
                    <div class="image_div">
                        <img src="{% static 'assets/img/sudoku.png' %}" class="post_img" alt="...">
                        <img src="{% static 'assets/img/sudoku.png' %}" class="post_img" alt="...">
                        <img src="{% static 'assets/img/sudoku.png' %}" class="post_img" alt="...">
                    </div>
                    <div class="d-flex justify-content-between mx-3 mt-3">
                        <span>date_added</span>
                        <span class="comment">
                        Comments ()
                        <img src="{% static 'assets/svg/expand-more.svg' %}" class="expand_svg" >
                        </span>
                    </div>
                    <div class="comment_div">
                        <div class="mb-2" >
                            <span class="comment_user">Luigi</span>:
                            first comment
                            </div>
                        <div class="form-floating">
                            <textarea class="form-control comment_textarea" placeholder="Leave a comment here"  style="height: 100px"></textarea>
                            <label>Leave a comment here</label>
                            <div class="d-flex justify-content-end mt-2">
                                <button type="button" class="btn btn-outline-dark">
                                    Comment
                                </button>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                    
                </div>
            </div>  
        </div>
    </div>

    <div id="create_post">
        <button class="btn create_post_button" type="button" data-bs-toggle="modal" data-bs-target="#create_post_modal">
            <img src="{% static 'assets/svg/new_post.svg' %}" class="new_post_svg " >
        </button>
    </div>
</section>

{% include "./create_post.html" %}
{% endblock content %}
       
{% block js %}

<script src="{% static 'javascript/exchange.js' %}"></script>
<script>
    POST_URL = "api/products/posts/"
    CREATE_POST_URL = "api/products/posts/"
    DISPENSE_URL = "api/products/dispenses/"
    PDF_SVG = "{% static 'assets/svg/pdf.svg' %}"
    EXPAND_MORE_SVG = "{% static 'assets/svg/expand-more.svg' %}"
    EXPAND_LESS_SVG = "{% static 'assets/svg/expandless.svg' %}"
    CSRF = "{{ csrf_token }}"
    $(document).ready(function(){
        APP.exchange.init()
        APP.exchange.load_post()
        APP.exchange.create_post()
    })
</script>
{% endblock js %}
