


.article{
    cursor: pointer;
    display: inline-block;
    white-space: normal;
    padding: 0px 20px 10px 20px!important;
    vertical-align: top;

}
.article:hover{
    background-color: #f8f9fa;
}

.edit_article{
    cursor: pointer;
}
.edit_article_svg{
    width: 25px;
    height: 25px;
}

@media (max-width: 768px) {
    .masonry_div{
        width: 40%!important;
    }
  
}




.article_headline{
    font-size: 100px;
    font-weight: bold;
}
.article_cover_img{
    width: 100%;

}
.article_date{
    font-size: 15px;
}
.article_category{
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
}
.article_category.active{
    color: rgba(0, 0, 0, 1)!important;
}
.article_category:hover{
    cursor: pointer;
}