.masonry_div{
    margin: 10px 10px 10px 10px;
    width: 300px!important;
    height:400px!important;
    cursor: pointer;
    overflow-y: hidden;
}
.masonry_div .masonry_body{
    margin: 20px;
}

.card-body{
    padding: 0px 0px 10px 0px!important;
}
.article{
    cursor: pointer;
}
.article:hover{
    background-color: #f8f9fa;
}
.article_date_modified{
    font-size: 11px;
}
.edit_article{
    cursor: pointer;
}
.edit_article_svg{
    width: 25px;
    height: 25px;
}
.masonry_div:hover{
    box-shadow: 0 0 0 1pt grey;
    transition: .1s;
}
@media (max-width: 768px) {
    .masonry_div{
        width: 40%!important;
    }
  
}