@font-face {
  font-family: OpenSans;
  src: url("../assets/font/Open_Sans/static/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  src: url("../assets/font/Open_Sans/static/OpenSans-Italic.ttf") format("opentype");
}
@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url("../assets/font/Open_Sans/static/OpenSans-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: OpenSans;
  font-weight:lighter;
  src: url("../assets/font/Open_Sans/static/OpenSans-Light.ttf") format("opentype");
}


html {
  height: 100%;
  scroll-padding-top: calc(4.5rem - 1px);
}

body {
  width: 100%;
  height: 100%;
  font-family: Helvetica;
  /* font-family: OpenSans; */
  font-size: 20px;
  /* background-color: black; */
}
.navbar *{
  font-family: OpenSans!important;
}
h5 {
  font-weight: bold;
  font-size: 25px;
}
h3 {
  font-weight: bold;
  font-size: 40px;
}
.page-section {
  padding: 5rem 0;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #f4623a;
  opacity: 1;
}

hr.divider-light {
  background-color: #fff;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  /* background-color: #fff; */
  transition: background-color 0.2s ease;
  background-color: black;
  box-shadow: none;
}
#mainNav.nav_white {
  background-color: white!important;
}
#mainNav .navbar_container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0px 62px;
}

#mainNav .navbar-brand {
  /* font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-weight: 700;
  /* color: #212529; */
}
#mainNav .navbar-brand {
  color: white;
}
#mainNav .navbar-brand.nav_white_brand {
  color: black!important;
}
#mainNav .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.7);
}
#mainNav .navbar-nav{
  display: flex;
  flex-direction: row!important;
}
#mainNav .navbar-nav .dropdown-menu{
  position: absolute!important;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 0 40px;
}
#mainNav .navbar-nav .nav-item .nav-link.nav_white_text {
  color: black!important;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}
#mainNav .navbar-nav .nav-item .nav-link.nav_white_text:hover {
  color: rgba(0, 0, 0, 0.7)!important;
}
#mainNav .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}
#mainNav.navbar-shrink {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
/* #mainNav.navbar-shrink .navbar-brand {
  color: #212529;
} */
#mainNav.navbar-shrink .navbar-brand:hover {
  color: #f4623a;
}
/* #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
  color: #212529;
} */
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
  color: #f4623a;
}


#page-top{
  padding-top: 72px;
}


@media (max-width: 768px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0 20px;
  }

}
@media (max-width: 576px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0 5px;
  }

}