
.diplay_content{
    border: 1px solid #ced4da!important;
    border-radius: 7px;
    padding: 10px;
    height: 600px;
    overflow-y: scroll;
    word-break: break-word;
    overflow-x: scroll;
}
#input_article_content{
    height: 600px;
}
.content_row .col{
    width: 50%;
}
.parse_article{
    width: 50px!important;
    height: 50px;
    align-self: center;
}
.form-label{
    font-size: 15px;
}