
.diplay_content{
    border: 1px solid #ced4da!important;
    border-radius: 7px;
    padding: 10px;
    height: 600px;
    overflow-y: scroll;
    word-break: break-word;
}
#input_article_content{
    height: 600px;
}