

.input_book_div, .input_dispense_div{
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    margin: 10px;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 72px;
    left: 0;
    height: calc(100vh - 72px);
    z-index: 999;
    transition: all 0.3s;
    border-right: 1px solid black;
    background-color: rgb(244, 244, 244);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    margin-bottom: 10px;
}
#sidebar .form-check{
    margin-left: 20px;
}
#sidebar .button_div{
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid gray;
}
#reset_filter{
    margin-right: 10px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    /* padding: 40px; */
    min-height: calc(100vh - 72px);
    transition: all 0.3s;
    position: absolute;
    top: 72px;
    right: 0;
}

#content.active {
    width: 100%;
}

#post_row{
    margin-bottom: 200px;
}
.post{


    border-bottom: 1px solid black;
    width: 100%!important;
    padding: 20px;
}
.post_img{
    width: 100px;
    margin-right: 10px;
}

.book_div{
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 1;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-right: 15px;
    font-size: 13px;
    font-weight: bold;
}
.book_info, .dispense_info{
    font-weight: normal;
}
.dispense_div{
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 1;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-right: 15px;
    font-size: 13px;
    font-weight: bold;
}
.pdf_svg{
    width: 45px;
    margin: 5px 0px;
}
.expand_svg{
    width: 30px;
    padding-bottom: 1px;
}
.comment{
    cursor: pointer;
}
.comment_div{
    background-color: rgb(240, 240, 240);
    padding: 15px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.26s ease;
    height: 0px;
    font-size: 15px;
}
#create_post{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 50px;
}
.new_post_svg{
    width: 45px;
    color: white;
}
.create_post_button{
    background-color: lightgray!important;
    padding: 15px!important;
    border-radius: 20px!important;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.create_post_button:active{
    transform: scale(0.98);
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}
.comment_user{
    font-weight: bold;
}
.comment_textarea{
    border-color: none!important;
    box-shadow: none!important;
}
.send_comment_svg{
    width: 30px;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
  
}
