.center {
    margin-left:auto;
    margin-right:auto;
    text-align:center
}
.masonry_div{
    margin: 10px 10px 10px 10px;
    width: 200px!important;
    cursor: pointer;
}
.masonry_div .masonry_body{
    margin: 20px;
}
.card-body{
    padding: 0px 0px 10px 0px!important;

}
.masonry_div:hover{
    box-shadow: 0 0 0 1pt grey;
    transition: .1s;
}
.crop {
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.card-title{
    font-size: 20px;
}
@media (max-width: 768px) {
    .masonry_div{
        width: 40%!important;
    }
  
}