#home_section{
    background: black;
}
.introduction_container{
    display: grid;
}
.canvas_layer{
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
}
.introduction{
    align-self: center;
    justify-self: center;
    max-width: 900px;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

#dot_canvas{
    background: black;
    height: calc(100vh-72px);
    width: 100%;
}

.introduction_main_text{
    padding: 0px!important;
    color: white;
    font-weight: bold;
    font-size: 150px;
    margin-bottom: -30px;
}
.introduction_text{
    
    color: white;
    font-size: 20px;
    align-self: center;
}
.more_about_me{
    margin-top: 70px!important;
}
.more_about_me_button{
    border-radius: 0px!important;
    padding: 7px 20px!important;
    font-weight: lighter!important;
}

.article_section_row{
    margin: 10px 0px 0px 0px!important;
    background-color: white;
    padding: 80px 50px 80px 50px;
    width: 100%;
    
}
.article_section_title{
    /* color: #70b979; */
    font-size: 100px;
    font-weight: bold;
}
.article_row::-webkit-scrollbar {
    display: none;
}
.article_row{
    margin: 0px!important;

    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    background-color: white;
    padding: 0px 50px 90px 50px;
}


.article_card{
    display: inline-block;
    width: 500px;
    margin-right: 30px;
    padding: 0;
    white-space: normal;
    vertical-align: top;
    cursor: pointer;
    transition: transform .2s;
}
.article_card:hover{
    transform: scale(1.05);
}
.article_img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;

}
.article_title{
    font-size: 30px;
    font-weight: bold;
    color: black;
    line-height: 1;
    margin-bottom: 5px;
}
.article_type{
    color: black;
}

.center {
    margin-left:auto;
    margin-right:auto;
    text-align:center
}
.breaker_row{
    margin: 0px 0px 150px 0px!important;
    padding-bottom: 10px;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

}

.breaker_text {
    color: black;
    white-space: nowrap;
    font-weight: lighter;

    /* -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 20s linear infinite;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animation 15s linear infinite; */
    position: relative;
    white-space: nowrap;
    right: 0;
}
.breaker_text_width{
    width: unset!important;
    max-width: unset!important;
}


/* @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}


@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
} */

/* @keyframes text_slide_right_left {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
} */

.game_row{
    padding: 0px 50px;
    margin: 0px 0px 150px 0px!important;
    width: 100%;
}
.game_description_row{
    margin: 0px 0px 180px 0px!important;
}
.game_description_first_part{
    padding-right: 50px!important;
}
.game_description_second_part{
    padding-left: 50px!important;
}
.game_masonry_container{
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
}
.game_card{
    display: inline-block;
    /* width: 500px; */
    padding: 0px 50px;
    white-space: normal;
    vertical-align: top;
    cursor: pointer;
    transition: transform .2s;
}
.game_card:hover{
    transform: scale(1.05);
}

.game_title{
    color: #70b979;
    font-size: 100px;
    font-weight: bold;
}
.game_img{
    max-width: 100%;
    /* width: 400px; */
    /* height: 500px; */
}
.game_name{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.more_games{
    padding: 7px 20px!important;
    font-weight: lighter!important;
    color: gray!important;
}
.more_games:hover{
    color: white!important;
}

.back_top_svg{
    position: absolute;
    left: 50px;
    width: 50px;
    filter: invert(50%) sepia(11%) saturate(15%) hue-rotate(141deg) brightness(97%) contrast(84%);
}
.back_top_svg:hover{
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(199deg) brightness(103%) contrast(101%);
}




@media (max-width: 1200px) {
    
   
    .game_img{
        max-width: 100%;
    }
  
}
@media (max-width: 992px) {
    
    .introduction{
        padding: 0px 50px;
    }
    .introduction_main_text{
        font-size: 100px;
        margin-bottom: -10px;
    }
    .introduction_text{
        padding: 0px!important;

    }
    .game_img{
        max-width: 100%;
    }
  
}

@media (max-width: 768px) {
    
    .introduction{
        padding: 0px 50px;
    }
    .introduction_main_text{
        font-size: 70px;
        margin-bottom: -10px;
    }
    .introduction_text{
        padding: 0px!important;

    }
    .article_img{
        width: 375px;
        height: 300px;
        object-fit: cover;
    
    }
    .article_section_title{
        /* color: #70b979; */
        font-size: 50px;
        font-weight: bold;
    }
    .game_title{
        font-size: 50px;
    }
    .game_img{
        width: 400px;
    }
    .back_top_svg{
        display: none;
    }
  
}