#dot_canvas{
    background: #232323;
    height: calc(100vh-72px);
}
.introduction{
    position: absolute;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 300px;
    
}
.introduction_main_text{
    color: white;
    font-weight: bold;
    font-size: 50px;
}
.introduction_text{
    color: white;
    font-size: 16px;
    align-self: center;
    padding: 0px!important;
}
.article_row, .game_row{
    margin: 200px 250px 50px 250px!important;
}
.article_text, .game_text{
    align-self: center;
}
.book_img, .game_img{
    width: 300px;

}


.center {
    margin-left:auto;
    margin-right:auto;
    text-align:center
}


@media (max-width: 768px) {
    .article_row, .game_row{
        margin: 200px 0px 50px 0px!important;
    }
  
}

