.profile_row{
    /* margin: 50px 200px!important; */
    padding: 20px;
    background-color: rgb(240, 240, 240);
    min-height: 400px;
    box-shadow: 4px 4px 10px rgb(245, 245, 245);
    border-radius: 13px;
}
.option_col{
    padding: 0px!important;
    border-right: 1px solid black;
}
.profile_option{
    border-bottom: 1px solid black!important;
    padding: 10px 20px;
    cursor: pointer;
    color: gray;
}
.profile_option.active{
    color: black;
    font-weight: bold;
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(210, 210, 210);
}
.profile_option:hover{
    background-color: rgb(220, 220, 220);
}
.profile_option:first-child{
    border-radius: 13px 0px 0px 0px;
}
.profile_option:last-child{
    border-bottom: none!important;
    border-radius: 0px 0px 0px 13px;
}
.avatar_img{
    border-radius: 13px;
    width: 100px;
}
.change_avatar_div{
    cursor: pointer;
}
@media (min-width: 993px) {
    .profile_row{
        margin: 50px 200px!important;
    }
  }