.profile_row{
    margin: 50px 200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.03);
    min-height: 400px;
    box-shadow: 4px 4px 20px rgb(245, 245, 245);
    border-radius: 13px;
}
.option_col{
    padding: 0px!important;
    border-right: 1px solid black;
}
.profile_option{
    border-bottom: 1px solid black!important;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
}
.profile_option.active{
    color: black;
    font-weight: bold;
}
.profile_option:hover{
    font-weight: bold;
}
.profile_option:first-child{
    border-radius: 13px 0px 0px 0px;
}
.profile_option:last-child{
    border-bottom: none!important;
    border-radius: 0px 0px 0px 13px;
}
.avatar_img{
    border-radius: 13px;
    width: 100px;
}
@media (min-width: 993px) {
    .profile_row{
        margin: 50px 200px!important;
    }
}
@media (max-width: 768px) {
    .profile_row{
        margin: 10px 0px;
        padding:  0px;
    }
    .profile_option{
        font-size: 15px;
        padding: 10px 10px;
    }
    .profile_option:first-child{
        border-radius: 0px;
    }
    .profile_option:last-child{
        border-bottom: none!important;
        border-radius: 0px;
    }
    .option_content_col{
        padding: 10px 0px;
    }
}