{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/game_list.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section class="container pb-3 mt-5" id="maze_section">
    <h3 class="center">
        Games
      </h3>
      <div class="row text-center d-flex justify-content-center my-5 w-100">
        {% comment %}
        <div class="card masonry_div" data-url="{% url 'treasure_hunt:treasure_hunt' %}">
          <div class="masonry_body">
              <div class="card-body">
                <h5 class="card-title">Treasure Hunt</h5>
              </div>
              <img src="{% static 'assets/img/treasure_hunt.jpg' %}" class="card-img-bottom" alt="...">
            </div>
          </div>
          {% endcomment %}
          {% include "game/game_card.html" with url_var="home:game2048" title="2048" image_url="assets/img/game2048.jpeg" %}
          {% include "game/game_card.html" with url_var="home:snake" title="Snake" image_url="assets/img/snake.jpg" %}
          {% include "game/game_card.html" with url_var="home:sudoku" title="Sudoku" image_url="assets/img/sudoku_cover.jpg" %}
          {% include "game/game_card.html" with url_var="home:typing" title="Typing" image_url="assets/img/typing.jpg" %}
          {% include "game/game_card.html" with url_var="home:nonogram" title="Nonogram Solver" image_url="assets/img/nonogram.jpg" %}
          {% include "game/game_card.html" with url_var="home:maze" title="Maze" image_url="assets/img/maze.jpg" %}
          {% include "game/game_card.html" with url_var="home:minesweeper" title="Minesweeper" image_url="assets/img/minesweeper.jpg" %}
          {% include "game/game_card.html" with url_var="home:sort" title="Sort" image_url="assets/img/sort.jpg" %}
          {% include "game/game_card.html" with url_var="home:pokemon_database" title="Pokemon Database" image_url="assets/img/peakpx.jpg" %}
        
              
      </div>
     
 
</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/game_list.js' %}"></script>
<script>
  $(document).ready(function(){
      APP.game_list.init()
  })
</script>
{% endblock js %}
