
{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/game2048.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section class="container pb-3 mt-5" id="snake_section">
    <div class="row mx-md-3">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            Size: <input id="size" type="number" value="4" min="2" max="6">
            <button id="select_size" type="button" class="btn btn-outline-dark">Change size/Restart Game</button>
        </div>
        <div class="col-12 col-md-6">
            <div class="mx-2" id="message"></div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col justify-content-center d-flex">
            <table id="game_board">
              
            </table>
        </div>
    </div>
 
</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/game2048.js' %}"></script>
<script>
    $(document).ready(function(){
        board = [
            [2, 0, 1, 2],
            [4, 0, 1, 2],
            [2, 0, 1, 2],
            [4, 0, 1, 2],
        ];
        APP.game2048.init();
        APP.game2048.startGame(4);
        
    })
</script>
{% endblock js %}
