{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/game_list.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section class="container pb-3 mt-5" id="maze_section">
    <h3 class="center">
        Games
      </h3>
      <div class="row text-center d-flex justify-content-center my-5 w-100">
        
        <div class="card masonry_div" data-url="{% url 'treasure_hunt:treasure_hunt' %}">
          <div class="masonry_body">
              <div class="card-body">
                <h5 class="card-title">Treasure Hunt</h5>
              </div>
              <img src="{% static 'assets/img/treasure_hunt.jpg' %}" class="card-img-bottom" alt="...">
            </div>
          </div>
        <div class="card masonry_div" data-url="{% url 'home:nonogram' %}">
          <div class="masonry_body">
              <div class="card-body">
                <h5 class="card-title">Nonogram</h5>
              </div>
              <img src="{% static 'assets/img/nonogram.jpg' %}" class="card-img-bottom nonogram_img" alt="...">
            </div>
          </div>
        <div class="card masonry_div" data-url="{% url 'home:pokemon_database' %}">
          <div class="masonry_body">
              <div class="card-body">
                <h5 class="card-title">Pokemon Database</h5>
              </div>
              <img src="{% static 'assets/img/peakpx.jpg' %}" class="card-img-bottom" alt="...">
            </div>
          </div>
        <div class="card masonry_div" data-url="{% url 'home:sudoku' %}">
          <div class="masonry_body">
              <div class="card-body">
                <h5 class="card-title">Sudoku</h5>
              </div>
              <img src="{% static 'assets/img/sudoku.jpg' %}" class="card-img-bottom" alt="...">
            </div>
          </div>
        <div class="card masonry_div" data-url="{% url 'home:maze' %}">
          <div class="masonry_body">
            <div class="card-body">
              <h5 class="card-title">Maze</h5>
            </div>
            <img src="{% static 'assets/img/maze.png' %}" class="card-img-bottom" alt="...">
          </div>
        </div>
          <div class="card masonry_div" data-url="{% url 'home:minesweeper' %}">
            <div class="masonry_body">
            <div class="card-body">
              <h5 class="card-title">Minesweeper</h5>
            </div>
            <img src="{% static 'assets/img/minesweeper.png' %}" class="card-img-bottom" alt="...">
          </div>
          </div>
        <div class="card masonry_div" data-url="{% url 'home:sort' %}">
          <div class="masonry_body">
            <div class="card-body">
              <h5 class="card-title">Sort</h5>
            </div>
            <img src="{% static 'assets/img/sort.png' %}" class="card-img-bottom" alt="...">
          </div>
          </div>
        <div class="card masonry_div" data-url="{% url 'home:typing' %}">
          <div class="masonry_body">
            <div class="card-body">
              <h5 class="card-title">Typing</h5>
            </div>
            <img src="{% static 'assets/img/typing.png' %}" class="card-img-bottom" alt="...">
          </div>
          </div>
              
      </div>
     
 
</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/game_list.js' %}"></script>
<script>
  $(document).ready(function(){
      APP.game_list.init()
  })
</script>
{% endblock js %}
