{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/pokemon_database.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section class="container pb-3 mt-5" id="pokemon_database_section">

    <table class="pokemon_table mx-auto">
        <tr>
            <th class="title order" data-filter="pokedex_number">Index <i class="bi bi-filter"></i></th>
            <th class="title">Image</th>
            <th class="title order" data-filter="name">Name <i class="bi bi-filter"></i></th>
            <th class="title order" data-filter="hp">HP <i class="bi bi-filter"></i></th>
            <th class="title order" data-filter="attack">Attack <i class="bi bi-filter"></i></th>
            <th class="title order" data-filter="sp_attack">Special Attack <i class="bi bi-filter"></i></th>
            <th class="title order" data-filter="defense">Defence <i class="bi bi-filter"></i></th>
            <th class="title order" data-filter="sp_defense">Special Defence <i class="bi bi-filter"></i></th>
            <th class="title order" data-filter="base_total">Base Total <i class="bi bi-filter"></i></th>
            <th class="title">Capture rate</th>
            <th class="title" colspan="2">Type</th>
        </tr>
    </table>

    <nav class="mt-3 mr-3">
        <ul class="pagination justify-content-end">
          <li class="page-item">
            <a class="page-link load_more" href="javascript:void(0)">Load More</a>
          </li>
        </ul>
      </nav>

 
</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/pokemon_database.js' %}"></script>
<script>
    page = 1
    filter = "id"
    POKEMON_LIST_ULR = `/api/pokemon-list/`
    POKEMON_IMAGE_API = "https://pokeapi.co/api/v2/"
    $(document).ready(function(){
        APP.pokemon_database.init()
        APP.pokemon_database.load_pokemon(page, filter)
    })
</script>

{% endblock js %}
