
{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/snake.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section class="container pb-3 mt-5" id="snake_section">
    <div class="row mx-md-3">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            <button id="restart" type="button" class="btn btn-outline-dark">Restart</button>
        </div>
        <div class="col-12 col-md-6">
            <div class="mx-2" id="message"></div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col justify-content-center d-flex">
            <div id="snake_board"></div>
        </div>
    </div>
 
</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/snake.js' %}"></script>
<script>
    $(document).ready(function(){
        gameArea = $("#snake_board");
        gridSize = 30;
        snake = [{x: 15, y: 15}];
        apple = apple = { x: Math.floor(Math.random() * gridSize) + 1, y: Math.floor(Math.random() * gridSize) + 1 };
        direction = {x: 0, y: 0}; 
        speed = 10;
        direction_update_available = true;
        APP.snake.init();
        APP.snake.startGame();
    })
</script>
{% endblock js %}
