{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/sort.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section class="container pb-3" id="sort_section">
    <div class="row mx-5">
        <div class="offset-md-1 col-md-4 col-12">

            <label for="column_nums" class="form-label">Size: <span id="column_num_span">100</span></label>
            <input type="range" class="form-range" min="2" max="500" step="1" id="column_nums" value = "100">
        </div>
        <div class="col-md-4 col-12">

            <div class="input-group">
                <select class="form-select" id="select_sort_method">
                  <option value="bubble_sort" selected>Bubble sort</option>
                  <option value="insert_sort">Insert sort</option>
                </select>
                <button id="sort" class="btn btn-outline-dark" type="button">Sort</button>
              </div>
        </div>
    </div>
    <div class="row w-100 mt-5">
        <div class="col justify-content-center d-flex">
            <div id="row_display">
            </div>
        </div>
    </div>

</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/sort.js' %}"></script>
<script>
    var counts = 100
    var unsorted_array = []
    $(document).ready(function(){
        generate_random_array(counts)
    })
    
</script>

{% endblock js %}
