
{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}
{% block css %}

    <link href="{% static 'css/login.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}


{% get_providers as socialaccount_providers %}

<section class="align-items-center d-flex justify-content-center pb-5 px-3" style="height: 100%;">
  
  <div>
    <h1 class="mb-3">{% trans "LOG IN" %}</h1>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-dark bth-not-rounded" type="submit">{% trans "Log in" %}</button>
      <a class="recover_password" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <a class="signup" href="{{ signup_url }}">{% trans "Create new account" %}</a> 
    </form>
  </div>

  

</section>

{% endblock %}
