{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="align-items-center d-flex justify-content-center pb-5 mx-5" style="height: 100%;">
<div>

    <h1>{% trans "PASSWORD RESET" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-dark bth-not-rounded" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
</div>
</section>
{% endblock %}
