{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block css %}
    <link href="{% static 'css/signup.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
<div class="align-items-center d-flex justify-content-center pb-5" style="height: 100%;">
  <div>

    
    <h1 class="mb-3">{% trans "SIGN UP" %}</h1>
    
    
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-dark bth-not-rounded" type="submit">{% trans "Sign Up" %}</button>
      <a class="login" href="{{ login_url }}">{% trans "Log In" %}</a>
    </form>
    
  </div>
</div>
{% endblock %}
