{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/manage_treasure_game_list.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section class="container pb-3 mt-5" id="manage_treasure_game_list_section">

  <div class="treasure_game_list">
    
  </div>
 
</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/manage_treasure_game_list.js' %}"></script>
<script>
  TREASURE_HUNT_GAME_LIST_URL = "/api/treasure-hunt-games/"
  TREASURE_HUNT_GAME_URL = "/treasure_hunt/manage-treasure-games/"
  $(document).ready(function(){
      APP.manage_treasure_game.init()

      
  })
</script>
{% endblock js %}
