{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/aboutme.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section class="container my-5" id="aboutme_section">
    <p class="px-1 px-md-5 pb-5">
        Hey, I'm Luigi, and I'm currently a student at <strong>Bocconi University</strong>.
        Understanding human behavior is a passion of mine - I'm always curious about why we do the things we do.
        But at the same time, I'm also a <strong>problem solver</strong>.
        I love tackling difficult puzzles that can keep me stuck for days on end,
        and my go-to language for expressing my answers is through <strong>programming algorithms</strong>.
        Coding is like a second language to me,
        and I find it to be an incredibly powerful tool for exploring and understanding the world around us.
        <br>
        <br>
        That's why I decided to major in <strong>Economics, Management, and Computer Science</strong>
        - even though it might seem like an odd combination (and it has nothing to do with management...).
        I'm all about that computer science and math. I love using my programming skills to analyze data and find patterns in human behavior.
        <br>
        <br>
        And that's also why I created this website.
        I want to share what I've been learning in school and on my own,
        and I'll be posting articles on all sorts of topics - from programming to data analysis to math or statistics.
        Plus, I'll be using what I've learned to create some mini-games and show off some cool algorithms that I've discovered.
        I'm hoping that this website will be a space for like-minded people to come together and learn from each other.
    </p>
</section>
{% endblock content %}
       
{% block js %}
<script>
    $(document).ready(function(){       
    })
</script>
{% endblock js %}
