{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/home.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section id="home_section" class="pb-5">
  <div>
    <canvas UNSELECTABLE="on" id="dot_canvas"></canvas>
    <div class="introduction">
      <div class="row">
        <div class="col introduction_main_text">
          HEY THERE
        </div>
      </div>
      <div class="row">
        <div class="col introduction_text ">I'M LUIGI, A PASSIONATE COMPUTER SCIENCE ENTHUSIAST <br>
          WITH A KEEN INTEREST IN EXPLORING THE FASCINATING REALMS OF ALGORITHMS,<br>
          DATA SRUCTURES, AND MATHEMATICAL CONCEPTS..</div>
      </div>
      <div class="row more_about_me">
        <div class="offset-9 col">
          <button type="button" class="more_about_me_button btn btn-outline-light">More About Me</button>
        </div>
      </div>
    </div>
  </div>
  <div class="article_section_row row">
    <div class="col article_section_title">
      Article.
    </div>
  </div>
  <div class="article_row row">

    <div class="col ariticle_col">

    </div>
  </div>
  <div class="breaker_row row">
    <div class="col breaker_text">
      I will periodically publish articles that cover topics such as computer programming, math, statistics, and economics. These articles will aim to share my newly acquired knowledge in these areas with others. 
    </div>
  </div>   
  <div class="game_row row">
    <div class="col game_title">
      Interactive Showcase of Algorithms.
    </div>
  </div>


  <div class="container py-2">
    <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-sm-12 col-md-6 py-3 text-center">
          <div class="article_card" data-url="{% url 'home:sudoku' %}">
            <img src="{% static 'assets/img/sudoku.jpg' %}" class="game_img" alt="...">
            <div class="game_name text-start">
              Sudoku
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 py-3 text-center">
          <div class="article_card" data-url="{% url 'home:maze' %}">
            <img src="{% static 'assets/img/maze.jpg' %}" class="game_img" alt="...">
            <div class="game_name text-start">
              Maze
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 py-3 text-center">
          <div class="article_card" data-url="{% url 'home:sort' %}">
            <img src="{% static 'assets/img/sorting.jpg' %}" class="game_img" alt="...">
            <div class="game_name text-start">
              Sorting
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 py-3 text-center">
          <div class="article_card" data-url="{% url 'home:typing' %}">
            <img src="{% static 'assets/img/type.jpg' %}" class="game_img" alt="...">
            <div class="game_name text-start">
              Typing
            </div>
          </div>
        </div>
        
     
       
    </div>
    <div class="row my-4 ">
      <div class="col text-center">
        <button type="button" onclick="location.href=`{% url 'home:game_list' %}`" class="more_games btn btn-outline-light">Discover More Games</button>
      </div>
    </div>
</div>
  <!-- <div class="article_row row center ">
    <div class="col article_text">
      I will periodically publish articles that cover topics such as computer programming, math, statistics, and economics.
      These articles will aim to share my newly acquired knowledge in these areas with others.
      <br> <a class="" href="{% url 'articles:articles' %}">Check out</a>
    </div>
    <div class="col">
      <img src="{% static 'assets/img/book.jpg' %}" class="book_img" alt="...">
    </div>

  </div>    
  <div class="game_row row center ">
    <div class="col">
      <img src="{% static 'assets/img/game.png' %}" class="game_img" alt="...">
    </div>
    <div class="col game_text">
      The purpose of this section is to showcase fancy algorithms used in computer science.
      These algorithms will be presented in an interactive manner, either through gamification or through a direct display of the algorithm's process.
      <br> <a class="" href="{% url 'home:game_list' %}">Check out</a>
    </div>

  </div>     -->

   
</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/home.js' %}"></script>

<script>
  DISPLAY_ARTICLE_LIST_URL = "/api/display-articles/"
  ARTICLE_RETRIEVE_URL = "/articles/"
  ABOUT_ME_URL = "{% url 'home:aboutme' %}"
  $(document).ready(function(){
    APP.home.init()
    APP.home.canva_dot()
    APP.home.load_articles()
  })
</script>
{% endblock js %}
