{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/home.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section id="home_section" class="pb-5">
  <div>
    <canvas UNSELECTABLE="on" id="dot_canvas"></canvas>
    <div class="introduction">
      <div class="row">
        <div class="col introduction_main_text">
          Hello, this is
        </div>
      </div>
      <div class="row">
        <div class="col introduction_main_text">
          Luigi.
        </div>
        <span class="col introduction_text ">Student with a passion for data, numbers, and coding.</span>
      </div>
      
    </div>

  </div>
  <div class="article_row row center ">
    <div class="col article_text">
      I will periodically publish articles that cover topics such as computer programming, math, statistics, and economics.
      These articles will aim to share my newly acquired knowledge in these areas with others.
      <br> <a class="" href="{% url 'articles:articles' %}">Check out</a>
    </div>
    <div class="col">
      <img src="{% static 'assets/img/book.jpg' %}" class="book_img" alt="...">
    </div>

  </div>    
  <div class="game_row row center ">
    <div class="col">
      <img src="{% static 'assets/img/game.png' %}" class="game_img" alt="...">
    </div>
    <div class="col game_text">
      The purpose of this section is to showcase fancy algorithms used in computer science.
      These algorithms will be presented in an interactive manner, either through gamification or through a direct display of the algorithm's process.
      <br> <a class="" href="{% url 'home:game_list' %}">Check out</a>
    </div>

  </div>    

   
</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/home.js' %}"></script>

<script>
  RANDOM_ARTICLE_LIST_URL = "/api/random-articles/"
  ARTICLE_RETRIEVE_URL = "/articles/"
  $(document).ready(function(){
    APP.home.init()
    APP.home.canva_dot()
    // APP.home.load_articles()
  })
</script>
{% endblock js %}
