{% load static %}
{% load custom_tags %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> -->
        <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Luigi Liu's Website to share my expertise acquired from formal education and self-study, covering a wide range of topics such as Computer Science, Programming, Data Analysis, Mathematics, Statistics, and Economics." />
        <meta name="author" content="Luigi Liu" />
        <title>{% block head_title %}Luigi Liu{% endblock head_title %}</title>
        <link rel="icon" href="{% static 'assets/img/logo.png' %}">
        <!-- --test-- -->
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {% block css %}
       {% endblock css %}
        <link href="{% static 'bootstrap-5.2.3/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        {% get_nav_color nav_white as nav_color %}

        <nav class="navbar {% if nav_color == 'nav_white' %}navbar-light{%else%}navbar-dark{%endif%} navbar-expand-md fixed-top py-3 {{ nav_color }}" id="mainNav">
            <div class="navbar_container">
                <a class="navbar-brand {{ nav_color }}_brand" href="/">LUIGILIU.COM </a>
                  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto my-0">
                        <li class="nav-item"><a class="nav-link {{ nav_color }}_text" href="{% url 'home:aboutme' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link {{ nav_color }}_text" href="{% url 'articles:articles' %}">Articles</a></li>
                        <li class="nav-item"><a class="nav-link {{ nav_color }}_text" href="{% url 'home:game_list' %}">Games</a></li>
                        {%if user.is_authenticated%}
                        <li class="nav-item"><a class="nav-link {{ nav_color }}_text" href="{% url 'users:profile' user.username %}">{{user.username}}</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link {{ nav_color }}_text" href="{% url 'account_login' %}">Log In</a></li>
                        {% endif %}
                        <li class="nav-item d-md-none d-block"><a class="nav-link nav_collapse_height" href="javascript:void(0)"></a></li>
                    </ul>
                  </div>

            </div>
        </nav>

        
        

        {% block content %}
       {% endblock content %}
       
       <!-- Footer-->
       {% comment %}
       {% if request.get_full_path == "/" %}
       <footer class="bg-white py-5">
           <div class="container px-4 px-lg-5"><div class="small text-center text-muted">No more content - Contact: <a href="mailto:luigiliu617@gmail.com">luigiliu617@gmail.com</a></div></div>
        </footer>
        {% endif %}
        {% endcomment %}
        <script src="{% static 'bootstrap-5.2.3/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'javascript/jquery.js' %}"></script>
        <script src="{% static 'javascript/base.js' %}"></script>
        <script src="{% static 'bootstrap-5.2.3/masonry/masonry.pkgd.min.js' %}"></script>
        <script src="{% static 'bootstrap-5.2.3/masonry/imagesloaded.pkgd.min.js' %}"></script>
        <!-- letex -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="{% static 'mathJax/tex-chtml.js' %}"></script>

        <!-- <script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
</script> -->
        <script>
            MathJax = {
                tex: {
                  inlineMath: [['$', '$']]
                },
                svg: {
                  fontCache: 'global'
                }
              };
        </script>
        {% get_debug as is_debug %}
        <script>
            // if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            //     BASE_URL = "{% if is_debug == False %}https://luigiliu.com{% else %}http://192.168.1.115:8000{% endif %}"
            // } else {
            //     BASE_URL = "{% if is_debug == False %}https://luigiliu.com{% else %}http://localhost:8000{% endif %}"
            // }
            BASE_URL = window.location.origin
            console.log(BASE_URL);
            if (window.location.protocol == 'https:') { 
                BASE_URL = BASE_URL.replace( 'http:', 'https:'); 
            } 
            console.log(window.location.protocol);
 
            MEDIA_URL = BASE_URL + "/media"
            $(document).ready(function(){
                APP.base.init()
                
            })
        </script>

        {% block js %}
       {% endblock js %}
    </body>
</html>
