{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block head_title %}Bocconi KnowledgExchange{% endblock head_title %}</title>
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {% block css %}
       {% endblock css %}
        <link href="{% static 'bootstrap-5.1.3/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar  navbar-expand-md navbar-dark bg-dark fixed-top py-3" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="/">KnowledgExchange</a>
                <button id="toggle_side_navbar" class="btn btn-dark d-md-none d-block">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'products:exchange' %}">Exchange</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Game</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                              <li><a class="dropdown-item" href="{% url 'home:sudoku' %}">Sudoku</a></li>
                              <li><a class="dropdown-item" href="{% url 'home:maze' %}">Maze</a></li>
                              <li><a class="dropdown-item" href="{% url 'home:typing' %}">Typing</a></li>
                              <li><a class="dropdown-item" href="{% url 'home:sort' %}">Sort</a></li>
                              <li><a class="dropdown-item" href="{% url 'home:minesweeper' %}">Minesweeper</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:profile' user.username %}">Hi {{user}}</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Log In</a></li>
                        {% endif %}
                        <li class="nav-item"><div id="google_translate_element"></div></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header d-flex justify-content-end">
              <button type="button" class="btn-close btn-close-white text-reset m-3" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="ms-auto my-0">
                    <li class="nav-phone-li" data-href="{% url 'products:exchange' %}">
                        <a class="nav-phone-item" href="javascript:void(0)">Exchange</a>
                        
                    </li>
                    <li class="nav-phone-li" data-href="game"><a class="nav-phone-item" href="javascript:void(0)" >Game</a>
                        <img src="{% static 'assets/svg/arrow-right-bold.svg' %}" class="nav-phone-arrow float-end" ></li>
                    {% if user.is_authenticated %}
                    <li class="nav-phone-li" data-href="{% url 'account_logout' %}"><a class="nav-phone-item" href="javascript:void(0)">Hi {{user}}</a>
                        <img src="{% static 'assets/svg/arrow-right-bold.svg' %}" class="nav-phone-arrow float-end" ></li>
                    {% else %}
                    <li class="nav-phone-li" data-href="{% url 'account_login' %}"><a class="nav-phone-item" href="javascript:void(0)">Log In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
          </div>

        <div class="offcanvas offcanvas-end bg-dark" tabindex="0" id="offcanvasRightGame" aria-labelledby="offcanvasRightGameLabel">
            <div class="offcanvas-header d-flex justify-content-start">
              <button type="button" class="nav-phone-backbutton bg-dark m-3" >
                <img src="{% static 'assets/svg/arrow-left-bold.svg' %}" class="nav-phone-backarrow" >
              </button>
            </div>
            <div class="offcanvas-body">
                <ul class="ms-auto my-0">
                    <li class="nav-phone-li" data-href="{% url 'home:sudoku' %}">
                        <a class="nav-phone-item" href="javascript:void(0)">Sudoku</a>
                    </li>
                    <li class="nav-phone-li" data-href="{% url 'home:maze' %}">
                        <a class="nav-phone-item" href="javascript:void(0)">Maze</a>
                    </li>
                    <li class="nav-phone-li" data-href="{% url 'home:typing' %}">
                        <a class="nav-phone-item" href="javascript:void(0)">Typing</a>
                    </li>
                    <li class="nav-phone-li" data-href="{% url 'home:sort' %}">
                        <a class="nav-phone-item" href="javascript:void(0)">Sort</a>
                    </li>
                    <li class="nav-phone-li" data-href="{% url 'home:minesweeper' %}">
                        <a class="nav-phone-item" href="javascript:void(0)">Minesweeper</a>
                    </li>
                </ul>
            </div>
          </div>
        
       
       {% block content %}
       {% endblock content %}
       
       <!-- Footer-->
       <!-- <footer class="bg-light py-5 mt-5">
           <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Company Name</div></div>
        </footer> -->
        <script src="{% static 'bootstrap-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'javascript/jquery.js' %}"></script>
        <script src="{% static 'javascript/base.js' %}"></script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script>
            var nav_first_layer;
            var nav_second_layer;
            BASE_URL = "http://localhost:8000/"
            $(document).ready(function(){
                APP.base.init()
                
            })
        </script>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
        </script>

        {% block js %}
       {% endblock js %}
    </body>
</html>
