{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/articles_list.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        
<section class="container pb-3 mt-5" id="articles_section">
    
    <div class="row">
        <div class="col-3 me-5">
            <div class="article_headline">
                ARTICLE
            </div>
            <div class="article_category_list">

            </div>
            {% if user.is_superuser %}
            <button type="button" class="btn btn-dark mb-3 create_article">Create Article</button>
            {% endif %}
        </div>
        <div class="col">
            <div class="row articles_row ">
                
               
                
             
               
            </div>
        </div>
    </div>
    <!-- <ul class="list-group articles_row">
    
      </ul> -->
 
</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/articles_list.js' %}"></script>
<script>
    ARTICLE_LIST_URL = '/api/articles/'
    ARTICLE_CATEGORY_LIST_URL = '/api/article-categories/'
    ARTICLE_RETRIEVE_URL = "/articles/"
    CREATE_ARTICLE_URL = "{% url 'articles:create-article' %}"
    EDIT_ARTICLE_URL = "/articles/edit/"
    EDIT_ARTICLE_SVG = "{% static 'assets/svg/edit.svg' %}"
    AUTHENTICATED = "{{ request.user.is_authenticated }}" == "True" ? true : false
    $(document).ready(function(){
        article_masonry = $(".articles_row").masonry({
                    // columnWidth: 942,
                    itemSelector: '.article',
                    // horizontalOrder: true,
                    percentPosition: true
                  });
        APP.articles_list.init()
        APP.articles_list.load_article_categories()
        APP.articles_list.load_articles()
        

    })
</script>
{% endblock js %}
