{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/article.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section class="container pb-3 mt-5" id="article_section">
  <h3 class="text-center text-title mb-3">

  </h3>
  <div class="text-content mb-3">

  </div>
    
  <div class="article_pdf_div">
    <object class="article_pdf pdf" data=""></object>
  </div>
</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/article.js' %}"></script>
<script>
    ARTICLE_RETRIEVE_URL = '/api/articles/get/{{ url_name }}'
    
    $(document).ready(function(){
        APP.article.init()
        APP.article.load_article()
    })
</script>
{% endblock js %}
