{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/edit_article.css' %}"  rel="stylesheet" />
{% endblock css %}
{% block content %}
        

<section class="container mt-5" id="edit_article_section">
    <form class="row row-cols-lg-auto g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="visually-hidden" for="input_article_title">Title</label>
            <div class="input-group">
                <input type="text" class="form-control" id="input_article_title" placeholder="Title">
            </div>
        </div>
        <div class="col-12">
            <input type="file" class="form-control" id="input_article_cover">
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-dark edit_article flex-end">Edit Article</button>
        </div>
    </form>
   
    <div class="row">
        <div class="col">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Content" id="input_article_content"></textarea>
                <label for="input_article_content">Content</label>
            </div>
        </div>
        <div class="col">
                <div class="diplay_content">
                </div>
        </div>
    </div>
    
 
</section>
{% endblock content %}
       
{% block js %}
<script src="{% static 'javascript/edit_article.js' %}"></script>
<script>
    ARTICLE_ID = "{{ pk }}"
    ARTICLE_UPDATE_URL = "/api/articles/update/"
    ARTICLE_RETRIEVE_URL = '/api/articles/{{ pk }}'
    $(document).ready(function(){
        APP.edit_article.init()
        APP.edit_article.load_article()

    })
</script>
{% endblock js %}
